/* Temel sayfa stili */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7; /* Daha yumuşak bir arka plan rengi */
    color: #333;
}

/* Başlık ve Yakında bölümünün stil tanımı */
#comingSoonContainer {
    text-align: center;
    background-color: #2e3d55; /* Daha profesyonel bir arka plan rengi */
    color: #ffffff;
    padding: 40px 0;
}

#comingSoonContainer h1 {
    margin: 0;
    font-size: 3em;
}

#comingSoonContainer p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Oyun bölümünün stil tanımı */
#gameContainer {
    text-align: center;
    padding: 40px 0;
}

#gameContainer h2 {
    margin-bottom: 30px;
    color: #333;
}

/* Canvas için stil tanımlamaları */
canvas {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 30px; /* Düğme ile arasındaki boşluk artırıldı */
}

/* Düğme için stil tanımlamaları */
button {
    background-color: #5cb85c; /* Daha canlı bir yeşil tonu */
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Düğmeye gölge efekti eklendi */
    border-radius: 5px; /* Düğmenin köşeleri yuvarlatıldı */
}

button:hover {
    background-color: #449d44; /* Düğme üzerine gelince rengi koyulaşan ton */
}
