body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFDD00; /* Canlı sarı arkaplan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
}

.content h1 {
    font-size: 3em;
    color: #000;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    animation: fadeInDown 1s ease both;
}

.construction {
    color: #d80000; /* Kırmızı renkli metin */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadeInUp 1s 0.2s ease both;
}

.description {
    color: #333;
    margin: 20px 0;
    line-height: 1.4;
    animation: fadeIn 2s ease both;
}

.notify-me {
    margin-top: 30px;
    animation: fadeIn 2s 0.4s ease both;
}

#notifyButton {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#notifyButton:hover {
    background-color: #555;
}

/* Animasyonlar */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { transform: translate3d(0, -100%, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translate3d(0, 100%, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}
