body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

.team-icons {
    text-align: center;
    margin-top: 20px;
}

.team-icon {
    width: 60px;
    margin: 10px;
    cursor: pointer;
}

#football-field {
    width: 80%;
    height: 400px;
    background-color: #1a472a;
    position: relative;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.ball {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-color-RealMadrid {
    background-color: #fcb514;
}

.team-color-Barcelona {
    background-color: #a50044;
}

.team-color-Liverpool {
    background-color: #c8102e;
}

.team-color-ManchesterCity {
    background-color: #6cabdd;
}

.team-color-Juventus {
    background-color: #000000;
}

.team-color-InterMilan {
    background-color: #006bb3;
}

.team-color-Dortmund {
    background-color: #fcef05;
}

.team-color-BayernMunich {
    background-color: #db0007;
}

.team-color-ParisSaintGermain {
    background-color: #0048ad;
}

.team-color-Besiktas {
    background-color: #000000;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
